.promotional {
  margin-top: 40px;
}
.promotional-title {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  color: $dark-gray-2;
}
.promotional-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.promotional-card {
  position: relative;
  border-radius: 8px;
  padding-top: 25px;
  padding-left: 20px;
  background-color: #d8e3f2;
  width: 405px;
  height: 250px;
  overflow: hidden;
  display: flex;
  margin-right: 12px;
  &:last-child {
    margin-right: 0px;
  }
}
.promotional_card-text {
  display: flex;
  flex-direction: column;
}
.promotional_card-subtitle {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: $dark-gray-2;
  p {
    padding: 8px 15px;
    background-color: #e7ff86;
    border-radius: 29px;
  }
}
.promotional_card-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 20px;
  max-width: 160px;
}
.promotional_card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  transition: background-color 1s, color 1s;
  background-color: $light-gray-3;
  color: $primary;
  padding: 18px 40px;
  border-radius: 8px;
  &:hover {
    background-color: $primary;
    text-decoration: none;
    color: $light-gray-3;
  }
}
.product-model {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.model-title {
  margin-bottom: 30px;

  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  color: $dark-gray-2;
}
.model-lists {
  display: flex;
}
.model-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 48px;
  &:last-child {
    margin-right: 0px;
  }
}
.promotional_card-img {
  img {
    position: absolute;
  }
}
@media (max-width: 1080px) {
  .promotional-cards .promotional-card {
    margin-right: 0;
  }
  .promotional-activities .promotional-cards {
    gap: 10px;
    flex-direction: column;
  }

  .promotional-card {
    width: 340px;
    height: 210px;
  }
  .promotional_card-title {
    margin-bottom: 10px;
  }
  .promotional_card-button {
    padding: 10px 20px;
  }
  .promotional_card-subtitle p {
    margin-bottom: 5px;
  }
}
